.about-container{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.about-container-awards{
    padding-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.about-avatar{
    height: 186px;
    width: auto;
}

.about-subtitle{
    font-family: "Open Sans";
}
.about-subtitle-spacing{
    padding-top: 30px;
}

.about-heading{
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.48;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 22px;
}

.dotted-border-box-upper{
    border-left-style: dashed;
    border-left-color: #e5e5e5;
    border-top-left-radius: 30px;
    border-top-style: dashed;
    border-top-color: #e5e5e5;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.dotted-border-box-right-bottom{
    border-right-style: dashed;
    border-right-color: #e5e5e5;
    border-bottom-right-radius: 30px;
    border-bottom-style: dashed;
    border-bottom-color: #e5e5e5;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dotted-border-left{
    border-left-style: dashed;
    border-left-color: #e5e5e5;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-red-heading{
    color: #ff0000;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 1px;
}

.about-content{
    font-family: "Open Sans";
    margin-bottom: 1px;
}

.about-gray-text{
    color: #b1b1b1;
    font-family: "Open Sans";
    margin-bottom: 1px;
}

.uni-logo{
    height: 80px;
}

.uni-logo-div{
    text-align: right;
}

.div-bottom-margin-edu{
    margin-bottom: 45px;
}

.div-bottom-margin-work{
    margin-bottom: 30px;
}

.div-bottom-margin-awards{
    margin-bottom: 30px;
}
.div-no-left-padding{
    padding-left: 0px;
}

.award-img{
    width: 100%;
}

@media (max-width: 768px) {
    .hide-on-mobile{
        display: none;
    }

    .about-heading{
        text-align: left;
    }

    .uni-logo{
        height: 50px;
    }
    .mobile-list-sep{
        height: 100px;
        border-right-style: dashed;
        border-bottom-style: dashed;

        border-width: 3px;
        border-right-color: #e5e5e5;
        border-bottom-color: #e5e5e5;
        border-bottom-right-radius: 30px;
        margin-bottom: 20px;
    }
    
    .dotted-border-left{
        border-left-width: 3px; 
    }

    .dotted-border-box-upper{
        border-width: 3px;
    }

    .about-red-heading{
        font-size: 13px;
    }
    
    .about-content{
        font-size: 13px;
    }
    
    .about-gray-text{
        font-size: 13px;
    }
}